extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.brokk-advantages
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-1.svg", alt="brokk-service advantages item-1")
				.brad-item__name Собственный парк роботов-разрушителей
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-2.svg", alt="brokk-service advantages item-2")
				.brad-item__name Различное навесное оборудование для демонтажных работ
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-3.svg", alt="brokk-service advantages item-3")
				.brad-item__name Операторы с большим опытом работы
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-4.svg", alt="brokk-service advantages item-4")
				.brad-item__name Работа в удобном для заказчика графике
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-5.svg", alt="brokk-service advantages item-5")
				.brad-item__name Точность и скорость выполняемых работ
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-6.svg", alt="brokk-service advantages item-6")
				.brad-item__name Манёвренность и компактность при большой мощности
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-7.svg", alt="brokk-service advantages item-7")
				.brad-item__name Сервисное обслуживание арендуемой техники в режиме 24/7