extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.brokk-advantages
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-1.svg", alt="brokk-service advantages item-1")
				.brad-item__name Собственный парк роботов-разрушителей
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-2.svg", alt="brokk-service advantages item-2")
				.brad-item__name Различное навесное оборудование для демонтажных работ
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-3.svg", alt="brokk-service advantages item-3")
				.brad-item__name Операторы с большим опытом работы
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-4.svg", alt="brokk-service advantages item-4")
				.brad-item__name Работа в удобном для заказчика графике
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-5.svg", alt="brokk-service advantages item-5")
				.brad-item__name Точность и скорость выполняемых работ
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-6.svg", alt="brokk-service advantages item-6")
				.brad-item__name Манёвренность и компактность при большой мощности
		.brad-item
			.brad-item__inner
				.brad-item__pic
					img(src="img/adv-item-7.svg", alt="brokk-service advantages item-7")
				.brad-item__name Сервисное обслуживание арендуемой техники в режиме 24/7


	section.our-robots-section
		.container
			h2.custom-h2 Роботы-разрушители Brokk для демонтажных работ
			.our-robots
				.ourrob-item
					h3.ourrob-item__title Brokk 60
					.ourrob-item__pic
						img(src="images/robot-pic.png", alt="")
					.ourrob-item__parameters
						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 1495 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1560 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Вес
							.ourrob-item-parameter__subtitle
							.ourrob-item-parameter__pic
								img(src="images/weight.svg", alt="")
							.ourrob-item-parameter__value 1 400 кг

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 874 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1359 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Ширина
							.ourrob-item-parameter__subtitle аутригеры сложены
							.ourrob-item-parameter__pic
								img(src="images/width.svg", alt="")
							.ourrob-item-parameter__value 597 mm
					.ourrob-item__more-wrap
						a.ourrob-item__more(href="") Подробнее

				.ourrob-item
					h3.ourrob-item__title Brokk 60
					.ourrob-item__pic
						img(src="images/robot-pic.png", alt="")
					.ourrob-item__parameters
						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 1495 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1560 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Вес
							.ourrob-item-parameter__subtitle
							.ourrob-item-parameter__pic
								img(src="images/weight.svg", alt="")
							.ourrob-item-parameter__value 1 400 кг

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 874 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1359 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Ширина
							.ourrob-item-parameter__subtitle аутригеры сложены
							.ourrob-item-parameter__pic
								img(src="images/width.svg", alt="")
							.ourrob-item-parameter__value 597 mm

					.ourrob-item__more-wrap
						a.ourrob-item__more(href="") Подробнее

				.ourrob-item
					h3.ourrob-item__title Brokk 60
					.ourrob-item__pic
						img(src="images/robot-pic.png", alt="")
					.ourrob-item__parameters
						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 1495 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1560 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Вес
							.ourrob-item-parameter__subtitle
							.ourrob-item-parameter__pic
								img(src="images/weight.svg", alt="")
							.ourrob-item-parameter__value 1 400 кг

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 874 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1359 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Ширина
							.ourrob-item-parameter__subtitle аутригеры сложены
							.ourrob-item-parameter__pic
								img(src="images/width.svg", alt="")
							.ourrob-item-parameter__value 597 mm

					.ourrob-item__more-wrap
						a.ourrob-item__more(href="") Подробнее

				.ourrob-item
					h3.ourrob-item__title Brokk 60
					.ourrob-item__pic
						img(src="images/robot-pic.png", alt="")
					.ourrob-item__parameters
						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 1495 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1560 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Вес
							.ourrob-item-parameter__subtitle
							.ourrob-item-parameter__pic
								img(src="images/weight.svg", alt="")
							.ourrob-item-parameter__value 1 400 кг

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 874 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1359 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Ширина
							.ourrob-item-parameter__subtitle аутригеры сложены
							.ourrob-item-parameter__pic
								img(src="images/width.svg", alt="")
							.ourrob-item-parameter__value 597 mm

					.ourrob-item__more-wrap
						a.ourrob-item__more(href="") Подробнее

				.ourrob-item
					h3.ourrob-item__title Brokk 60
					.ourrob-item__pic
						img(src="images/robot-pic.png", alt="")
					.ourrob-item__parameters
						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 1495 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1560 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Вес
							.ourrob-item-parameter__subtitle
							.ourrob-item-parameter__pic
								img(src="images/weight.svg", alt="")
							.ourrob-item-parameter__value 1 400 кг

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 874 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1359 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Ширина
							.ourrob-item-parameter__subtitle аутригеры сложены
							.ourrob-item-parameter__pic
								img(src="images/width.svg", alt="")
							.ourrob-item-parameter__value 597 mm

					.ourrob-item__more-wrap
						a.ourrob-item__more(href="") Подробнее

				.ourrob-item
					h3.ourrob-item__title Brokk 60
					.ourrob-item__pic
						img(src="images/robot-pic.png", alt="")
					.ourrob-item__parameters
						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 1495 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Длина
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1560 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Вес
							.ourrob-item-parameter__subtitle
							.ourrob-item-parameter__pic
								img(src="images/weight.svg", alt="")
							.ourrob-item-parameter__value 1 400 кг

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle без оборудования
							.ourrob-item-parameter__pic
								img(src="images/l_and_h.svg", alt="")
							.ourrob-item-parameter__value 874 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Высота
							.ourrob-item-parameter__subtitle с оборудованием
							.ourrob-item-parameter__pic
								img(src="images/l2_and_h2.svg", alt="")
							.ourrob-item-parameter__value 1359 mm

						.ourrob-item-parameter
							.ourrob-item-parameter__title Ширина
							.ourrob-item-parameter__subtitle аутригеры сложены
							.ourrob-item-parameter__pic
								img(src="images/width.svg", alt="")
							.ourrob-item-parameter__value 597 mm

					.ourrob-item__more-wrap
						a.ourrob-item__more(href="") Подробнее

	section.section-robots-application
		.container
			.robots-application
				h2.roapp-h2 Применение роботов-разрушителей
				.roapp-text
					p Специально разработанные для демонтажа всех видов строительных конструкций, роботы Brokk намного эффективнее, чем традиционная строительная техника или рабочие с ручным инструментом. Основные направления, в которых находит идеальное применение робот для демонтажа:

				.roapp-4pics
					.roapp-4pics-item
						.roapp-4pics-item__inner
							.roapp-4pics-item__pic
								img(src="images/roapp-1.svg", alt="")
							.roapp-4pics-item__item-name Частичный или полный<br>  снос любых конструкций<br>  из бетона

					.roapp-4pics-item
						.roapp-4pics-item__inner
							.roapp-4pics-item__pic
								img(src="images/roapp-2.svg", alt="")
							.roapp-4pics-item__item-name Демонтаж бетонной<br> стяжки пола

					.roapp-4pics-item
						.roapp-4pics-item__inner
							.roapp-4pics-item__pic
								img(src="images/roapp-3.svg", alt="")
							.roapp-4pics-item__item-name Выполнение<br>  отверстий в бетоне

					.roapp-4pics-item
						.roapp-4pics-item__inner
							.roapp-4pics-item__pic
								img(src="images/roapp-4.svg", alt="")
							.roapp-4pics-item__item-name Сортировка отходов<br>  на площадке

				h2.roapp-h2 Преимущества роботов
				.roapp-text
					p Семейство роботов-разрушителей Brokk впервые в мире разрабатывалось специально с целью радиоуправляемого автоматизированного сноса.
					p Преимущества применения данных агрегатов:

				ul.roapp-list
					li.roapp-list-item
						.roapp-list-item__title Высокая производительность
						.roapp-list-item__text один робот-разрушитель Brokk заменяет труд до 14 рабочих с малой механизацией.
					li.roapp-list-item
						.roapp-list-item__title Высокая скорость и экономичность работы
						.roapp-list-item__text   Производя в смену в 2-4 раза больше работы, Brokk сокращает затраты предприятия на топливо и сокращает время выполнения работ по демонтажу.
					li.roapp-list-item
						.roapp-list-item__title Компактные размеры техники
						.roapp-list-item__text Легкость доставки на объект малотоннажным маневренным транспортом. Машина массой менее тонны с габаритами в сложенном виде 780х1147 мм легко проходит в узкие проемы, справляется там, где другая тяжелая техника неприменима.
					li.roapp-list-item
						.roapp-list-item__title Точность и аккуратность
						.roapp-list-item__text Снос и демонтаж Брокк – это аккуратный контролируемый процесс, с минимумом сопутствующих разрушений и без рисков для персонала на площадке.
					li.roapp-list-item
						.roapp-list-item__title Минимум персонала
						.roapp-list-item__text Brokk заменяет целую бригаду одним роботом и оператором, экономя на штате и оплате человеко-часов.
					li.roapp-list-item
						.roapp-list-item__title Отсутствие выхлопных газов
						.roapp-list-item__text полная
							a(href="")  безопасность в закрытых пространствах
							|  . Брокк – это электрическое оборудование. Его можно применять где угодно без ущерба для здоровья людей и окружающей среды.



	section.order-robot-section
		.container

			h2.roapp-h2 Закажите робота для демонтажа в Брок Сервис.
			.roapp-text
				p Компания Брок Сервис предлагает оптимальные условия сотрудничества. Мы располагаем собственным парком техники, включающим практически весь модельный ряд роботов-разрушителей Brokk, собственным сервисом и складом запчастей. Обратившись к нам, Вы получаете:
			.order-robot
				.order-robot-pics
					.order-robot-pic
						img.order-robot-pic__img(src="images/pic.jpg", alt="")
					.order-robot-pic
						img.order-robot-pic__img(src="images/pic.jpg", alt="")
					.order-robot-pic
						img.order-robot-pic__img(src="images/pic.jpg", alt="")

				.order-robot-list
					.order-robot-li
						.order-robot-li__title  Услуги опытных операторов робототехники
						.order-robot-li__text которые участвовали в десятках проектов по демонтажу зданий и сооружений различной степени сложности. На протяжении нескольких лет мы помогаем строить Московский метрополитен и реконструировать широкий ряд знаковых для столицы строительных объектов, участвуем в реализации специальных строительных проектов в различных регионах России.
					.order-robot-li
						.order-robot-li__title Широкий выбор навесного оборудования
						.order-robot-li__text Каждая наша машина укомплектована гидромолотами соответствующей производительности с пиками различной конфигурации, ковшами, пневматическими манипуляторами и приспособлениями дискового пиления бетона. Благодаря высокой оснащенности, компания Брок сервис выполняет работы по демонтажу бетонных сооружений любой плотности и степени армирования.
					.order-robot-li
						.order-robot-li__title  Четко организованный менеджмент планирования и реализации работ.
					.order-robot-li
						.order-robot-li__title  Доступ к запчастям и обслуживанию по лучшим ценам
						.order-robot-li__text В нашей ремонтной зоне организован собственный сервис роботов Брокк. Сегодня мы осуществляем самое оперативное и полное диагностическое и ремонтно-профилактическое обслуживание роботов-разрушителей Brokk как на производственных участках, так и в условиях оборудованного стационара.
					.order-robot-li
						.order-robot-li__title  Выполнение работ в любых условиях,
						.order-robot-li__text в том числе при наличии вредных веществ, загазованности, высоких температур, радиации и т.п.
					.order-robot-li
						.order-robot-li__title Полный цикл работ,
						.order-robot-li__text включая демонтаж строительных конструкций, погрузку и вывоз отходов, дальнейшее благоустройство зоны работ. В арсенале компании Брок Сервис имеется широкий спектр дополнительного профессионального оборудования: установки алмазной резки и бурильные установки по бетону, бетонорезные машины, электрогазосварочное оборудование. Устойчивые партнерские связи позволяют нам при необходимости в кратчайшие сроки привлечь к реализации проекта дополнительные группы рабочих общестроительного профиля.

	section.orrob-form-section(style="background-image:url(images/form-pic.jpg")
		.container
			.orrob-form
				.orrob-form__title заказать
				.orrob-form__text1 Оставьте свои контактные данные и наши специалисты свяжутся с вами в ближайшее время.
				.orrob-form__form-wrap
					form
						.orrob-form__form-flex
						input.orrob-form__form-inp(type="text" placeholder="Ваше имя")
						input.orrob-form__form-inp.js-inp-phone-mask(type="text")
						button.orrob-form__form-submit(type="submit") Отправить заявку
				.orrob-form__text-2 Нажимая кнопку, я даю согласие на обработку персональных данных.
				img.orrob-form-picture(src="images/form-pic-2.png")