a {
	text-decoration: none;
}

html,
body {
	/*overflow-x: hidden;
	overflow-y: visible;*/
	max-width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #323340;
	background: #f5f6fb;
	font-family: $mainFont;
	font-size: 16px;
}

.main {
	flex-grow: 1;
}

.container {
	box-sizing: border-box;
	width: 1192px;
	max-width: 95%;
	max-width: calc(100% - 20px * 2);
	margin: 0 auto;
}

#jGrowl {
	z-index: 999999;
}

*:focus {
	outline: none;
}

.hide {
	display: none;
}





.brokk-advantages {
	display: flex;
	width: calc(100% + 1px);
	margin-left: -1px;
	background: #ffffff;
	flex-wrap: wrap;
}

.brad-item {
	display: block;
	margin-left: 1px;
	margin-bottom: 1px;
	background: #F3F3F3;

	width: calc(25% - 1px);
	padding: 23px 15px 20px;
	box-sizing: border-box;

	.brad-item__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__pic {
		width: 61px;
		height: 57px;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		img {
			display: block;
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__name {
		margin-top: 9px;
		font-weight: 600;
		font-size: 13px;
		line-height: 16px;
		text-align: center;

		color: #2E3235;
		font-family: Montserrat;
	}
}












.our-robots-section {}

.custom-h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;

	color: #383838;
	display: block;
	padding-top: 50px;
}

.our-robots {
	margin: 50px -16px -30px;
	display: flex;
	flex-wrap: wrap;
}

.ourrob-item {
	padding: 24px 15px 24px;
	margin: 0 16px 30px;
	width: calc(33.33% - 32px);
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);

	&__title {
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		line-height: 30px;

		color: #2E3235;
		padding-bottom: 13px;

		border-bottom: 1px solid #CECECE;
		text-align: center;
	}

	&__pic {
		margin-top: 2px;
		display: block;
		position: relative;

		&::before {
			content: '';
			display: block;
			padding-top: 72.5433526012%;
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center center;
			display: block;
		}
	}

	&__parameters {
		margin-top: 7px;
		border: 1px solid #CECECE;
		border-bottom: 0;
		border-right: 0;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
	}

	&__more-wrap {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__more {
		display: inline-block;
		text-align: center;
		padding: 10px 18px;
		font-style: normal;
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		text-transform: uppercase;

		color: #FFFFFF;
		max-width: 100%;
		box-sizing: border-box;
		margin: 22px auto 0;

		background: #ED721D;

		&:hover {}

		&:active {}

		&:focus {}
	}

	img {}
}

.ourrob-item-parameter {
	display: block;
	width: 33.33%;

	border: 1px solid #CECECE;
	border-top: 0;
	border-left: 0;
	box-sizing: border-box;
	text-align: center;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;


	&__title {
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;

		color: #2E3235;
	}

	&__subtitle {
		font-style: normal;
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;
		text-align: center;
		display: block;
		flex-grow: 1;

		color: #797979;
	}

	&__pic {
		margin-top: 7px;
		height: 56px;
		width: 56px;
		position: relative;
		display: block;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center bottom;
			display: block;
		}

	}

	&__value {
		margin-top: 10px;
		font-style: normal;
		font-weight: 600;
		font-size: 13px;
		line-height: 16px;
		color: #2E3235;
	}

}





.section-robots-application {
	padding-top: 70px;
	padding-bottom: 104px;
	color: #ffffff;
}

.robots-application {}

.roapp-4pics {
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.roapp-4pics-item {
	max-width: calc(25% - 15px);
	margin-bottom: 20px;

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: auto;
	}

	&__pic {
		height: 78px;
		width: 130px;
		max-width: 100%;
		display: block;
		position: relative;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center center;
			display: block;
		}
	}

	&__item-name {
		margin-top: 34px;

		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;

		color: #8E959E;

	}

}


.roapp-h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	color: #383838;

	&:not(:first-child) {
		margin-top: 80px;
	}
}

.roapp-text {
	margin-top: 32px;

	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;

	color: #8E959E;

	p {
		&+p {
			margin-top: 17px;
		}
	}
}

.roapp-list {
	margin-top: 64px;
	list-style: none;
}

.roapp-list-item {
	margin-left: 40px;
	position: relative;

	list-style: none;

	&+.roapp-list-item {
		margin-top: 57px;
	}

	&::before {
		content: '';
		display: block;
		width: 11px;
		height: 11px;
		position: absolute;
		left: -40px;
		top: 3px;
		background: #ED721D;
	}

	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		text-transform: uppercase;
		color: #2E3235;
	}

	&__text {
		margin-left: 20px;
		margin-top: 11px;


		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;

		color: #8E959E;

		p {
			&+p {
				margin-top: 17px;
			}
		}
	}

	a {
		color: #ed721d;
		transition-duration: .2s;

		&:hover {
			opacity: .7;
		}

		&:active {}

		&:focus {}
	}
}



.order-robot-section {}

.roapp-h2 {}

.roapp-text {
	p {}
}

.order-robot {
	margin-top: 69px;
	display: flex;
}

.order-robot-pics {
	width: 378px;
	margin-top: 8px;
}

.order-robot-pic {


	&+.order-robot-pic {
		margin-top: 10px;
	}


	width: 100%;
	max-width: 100%;
	display: block;
	position: relative;

	&::before {
		content: '';
		display: block;
		padding-top: 64.2857142857%;
	}

	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		display: block;
	}
}

.order-robot-list {
	margin-left: 30px;
	width: calc(100% - 378px - 30px);

}

.order-robot-li {
	margin-left: 39px;
	position: relative;
	&::before {
		content: '';
		display: block;
		width: 11px;
		height: 11px;
		position: absolute;
		left: -39px;
		top: 8px;
		background: #ED721D;
	}
	&+.order-robot-li {
		margin-top: 54px;
	}

	&__title {
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 26px;
		/* identical to box height */

		text-transform: uppercase;

		color: #2E3235;
	}

	&__text {
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		margin-top: 9px;
		color: #8E959E;
	}
}