

@media screen and (min-width: 801px){
	.brad-item {
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			width: calc(33.33% - 1px);
		}
	}
}

@media screen and (max-width: 800px) and (min-width: 636px){
	.brad-item {
		flex-grow: 1;
		&:nth-child(3n-2),
		&:nth-child(3n-1),
		&:nth-child(3n) {
			width: calc(33.33% - 1px);
		}
	}
}
@media screen and (max-width: 635px){
	.brad-item {
		flex-grow: 1;
		width: calc(50% - 1px);
	}
}



